<!--
    Utterances comments (GitHub issues based). Uses pathname so renaming a
    post title does not orphan its comment thread.
    See https://utteranc.es/
-->
<script
  src="https://utteranc.es/client.js"
  repo="davidbudzynski/davidbudzynski.github.io"
  issue-term="{{ include.issue-term | default: site.utterances.issue-term | default: 'pathname' }}"
  label="comment"
  theme="{{ include.theme | default: site.utterances.theme | default: 'github-light' }}"
  crossorigin="anonymous"
  async
></script>
<noscript>
  <p>
    Comments require JavaScript. You can also comment via
    <a href="https://github.com/davidbudzynski/davidbudzynski.github.io/issues">GitHub issues</a>.
  </p>
</noscript>
